/* 2 media query */
h1{
    color: #F00;
}

@media screen and (max-width: 500px){
    h1{
        color: #Ae5;
    }
}

/* 3 min-width */
p{
    background-color: bisque;
    color: darkblue;
}

@media screen and (min-width: 633px){
    p{
        background-color: rgb(252, 138, 0);
        color: rgb(44, 248, 231);
    }    
}

/* 4 landscape */
h3{
    display: none;
}

@media screen and (orientation: landscape){
    h3{
        display: block;
    }
}