/* geral */
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.5s;
}

#italia{
    color: #009348;
}

#bonito{
    color: #009EDD;
}

#turquia{
    color: #E40310;
}

a:hover{
    color: #37A1F7;
}

/* navbar */
#navbar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #DDD;
}

#limitador-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-link{
    display: flex;
    gap: 1rem;
}

/* principal */
.container{
    display: flex;
    gap: 2rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#post-container{
    flex: 3 1 0;
}

.post{
    margin-bottom: 2.5rem;
}

.post img{
    max-width: 100%;
    margin-bottom: 1rem;
}

.titulo,
.descricao,
.autor{
    margin-bottom: 1rem;
}

.titulo{
    font-size: 2rem;
}

.autor{
    color: #333;
    font-weight: bold;
}

/* barra lateral */
.lateral-container{
    flex: 1 1 0;
}

#busca,
#categorias,
#tags{
    padding: 1.5rem;
    border: 1px solid #DDD;
    margin: 1rem;
}

#busca h4,
#categorias h4,
#tags h4{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#busca form{
    display: flex;
}

#busca input{
    border: 1px solid #DDD;
    padding: 0.5rem 1rem;
}

#busca input[type = "submit"]{
    cursor: pointer;
    background-color: #37A1F7;
    color: #FFF;
    border: none;
    transition: 0.5s;
}

#busca input[type = "submit"]:hover{
    background-color: #008FEE;
}

#categorias li{
    margin-bottom: 1rem;
}

#tag-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tag-container a{
    background-color: #DDD;
    padding: 0.5rem;
    border-radius: 5px;
}

/* rodapé */
#footer{
    border-top: 2px solid #DDD;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p{
    margin-bottom: 1rem;
}

/* responsivo */
@media (max-width:450px){
    #navbar{
        padding: 1rem 1.5rem;
    }

    #limitador-navbar h2{
        font-size: 20px;
    }
    
    #nav-link{
        display: flex;
        gap: 0.8rem;
    }

    .container{
        flex-wrap: wrap;
    }
}